<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="row">
      
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:900px;">
          <div class="x_title">
            <h2>Map</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
	  <div>
            <div id="map" style="width: 1000px; height: 800px"></div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->

<script>
  function initMap() {
      var start = {lat:<%= @locations[0]["latitude"] %> , lng:  <%= @locations[0]["longitude"] %> };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: start
      });
      
      var marker = new google.maps.Marker({
          position: start,
          map: map
      });
      
      var flightPlanCoordinates = [
          <% @locations.each do |location| %>
            {lat:<%= location["latitude"] %> , lng:  <%= location["longitude"] %> },
          <% end %>
          
      ];
      
      var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
      });
      
      flightPath.setMap(map);
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRLsJZLY51OnkRawop0Cq0-gFCOHt19gY&callback=initMap" async defer>
</script>    
 
