
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title"><i class="fa fa-forumbee"></i> <span>Trace Mates</span></a>
      </div>
      <div class="clearfix"></div>


      <!-- menu profile quick info -->
      <div class="profile">
        <div class="profile_pic">
          <%= image_tag "profile_pic_placeholder.png", :class => "img-circle profile_img"  %>
        </div>
        <div class="profile_info">
          <span>Logged in as</span>
          <h2><%= current_admin.email %></h2>
        </div>
      </div>
      <!-- /menu profile quick info -->

      <br />
      
      <h3>&nbsp;</h3>
      
      <div class="clearfix"></div>
      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <ul class="nav side-menu">
	    <li>
	      <a><i class="fa fa-home"></i>Home</a>	      
	    </li>	    
            <li>
	      <a><i class="fa fa-cab"></i> Drivers <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li>
		  <a href="/<% new_driver_path %>">New Driver</a>
                </li>
                <li>
		  <a href="/drivers">List Drivers</a>
                </li>            
              </ul>
            </li>
            <li><a><i class="fa fa-users"></i> Customers <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu" style="display: none">
                <li><a href="/<% new_customer_path %>">New Customer</a>
                </li>
                <li><a href="/customers">List Customers</a>
                </li>
              </ul>
            </li>
	    <li><a href="/parcels"><i class="fa fa-parcel"></i> List Parcels</a>
            <li><a href="/driver_capture"><i class="fa fa-edit"></i> Driver Capture</a>
            </li>
            <li><a href="/delivery_sheet"><i class="fa fa-table"></i> Delivery Sheet </a>
            </li>
            <li><a href="/"><i class="fa fa-search"></i> Trace & Track</a>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>
